<div class="row">
    <div class="col-md-12">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the name or email columns..." required (keyup)='updateFilter($event)'>
    </div>
</div>

<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="כמות נקודות" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.reward}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="מי נתן">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.sender && row.sender.name">{{row.sender.name}}</div>
            <div>{{row.sender.email}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="מי קיבל">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.recipient">{{row.recipient.name}}</div>
            <div *ngIf="row.recipient">{{row.recipient.email}}</div>
            <div *ngIf="!row.recipient"><b>אין נתונים</b></div>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
