<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info" [routerLink]="['/companies/create']">עסק חדש</button>
    </div>
    <div class="col-md-10">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="לוגו" [sortable]="false" [maxWidth]="180">
        <ng-template let-row="row" ngx-datatable-cell-template align="center">
            <img [src]="row.logo" height="50" width="50" *ngIf="row.logo !== ''">
            <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.logo === ''">
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="שם"  [maxWidth]="180">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.title}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="טלפון" [sortable]="false"  [maxWidth]="180">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong *ngIf="row.phone">{{row.phone}}</strong>
            <strong *ngIf="!row.phone">אין נתונים</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="דירוג" [sortable]="false"  [maxWidth]="180">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngFor="let star of row.stars">
                <i class="icon icon-basic-star" [ngClass]="{'yellow-star': star === true, 'grey-star': star === false}"></i>
            </span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false" [minWidth]="300">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-success" *ngIf="row.approved === 0" (click)="approveCompany(row)">אשר</button>
            <button type="button" class="btn btn-light" *ngIf="row.approved === 1" (click)="suspendCompany(row)">הקפיא</button>
            <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button>
            <button type="button" class="btn btn-warning" [routerLink]="['/companies/edit', row.id]">ערוך</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק עסק</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את העסק? מנהלים, קופונים, לידים, בנרים, דירוגים וביקורות שקשונים לעסק גם ימחקו.</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">פרטים</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="goToDetails('videos')">ביקורות</button>
        </div>
        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="goToDetails('managers')">מנהלים</button>
        </div>
        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="goToDetails('coupons')">קופונים</button>
        </div>
        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="goToDetails('codes')">קודים שנתנו</button>
        </div>
        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="goToDetails('purchases')">קופונים שמכרו</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    </div>
</ng-template>