<div class="row">
    <div class="col-md-4 mb-2">
        <button type="button" class="btn btn-info btn-block" (click)="openCreateModal(addItem)">שורה חדשה</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ngx-datatable
                [headerHeight]="40"
                [footerHeight]="'falsey'"
                [rowHeight]="'auto'"
                [scrollbarH]="true"
                [columnMode]="'force'"
                [rows]="rows">

            <!-- Column Templates -->

            <ngx-datatable-column name="כמות נקודות">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.quantity}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="פעולות" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>



<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שאתה רוצה למחוק את השורה הזאת?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #addItem let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">שורה חדשה</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <input class="form-control" type="number" [(ngModel)]="quantity" placeholder="כמות נקודות">
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-info" type="submit" (click)="createItem()">שמור</button>
    </div>
</ng-template>