<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">שם באנגלית</label>
                <input class="form-control" formControlName="title_en" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">שם בעברית</label>
                <input class="form-control" formControlName="title_he" type="text">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">כמות</label>
                <input class="form-control" formControlName="quantity" type="number">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">מחיר</label>
                <input class="form-control" formControlName="price" type="number">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">תיאור באנגלית</label>
                <textarea class="form-control" rows="3" formControlName="description_en" type="text"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">תיאור בעברית</label>
                <textarea class="form-control" rows="3" formControlName="description_he" type="text"></textarea>
            </div>

        </div>

        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">בחר תמונה</label>
                <input class="wide-input" name="image" (change)="onFileChange($event)" type="file" accept="image/*">
            </div>

            <div class="form-group col-md-6">
                <img [src]="image.path" *ngIf="image.path">
            </div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







