<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">שם באנגלית</label>
                <input class="form-control" formControlName="title_en" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">שם בעברית</label>
                <input class="form-control" formControlName="title_he" type="text">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6" id="address">
                <label class="col-form-label">כתובת</label>
                <input class="form-control" formControlName="address" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">מספר טלפון</label>
                <input class="form-control" formControlName="phone" type="text">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">קטגוריה</label>
                <select class="form-control" formControlName="company_category">
                    <option selected value="null">בחר קטגוריה</option>
                    <option *ngFor="let company_category of company_categories" [value]="company_category.id">
                        {{company_category.title}}
                    </option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">איזור</label>
                <select class="form-control" formControlName="region">
                    <option selected value="null">בחר איזור</option>
                    <option *ngFor="let region of regions" [value]="region.id">{{region.title}}</option>
                </select>
            </div>

        </div>

        <div class="row" *ngIf="form.value.company_category">

            <div class="form-group col-md-6">
                <label class="col-form-label">טט קטגוריה</label>
                <select class="form-control" formControlName="company_subcategory">
                    <option selected value="null">בחר טט קטגוריה</option>
                    <option *ngFor="let company_subcategory of company_categories[form.value.company_category - 1].company_subcategories"
                            [value]="company_subcategory.id">{{company_subcategory.title}}
                    </option>
                </select>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">קצת על עסק באנגלית</label>
                <textarea class="form-control" formControlName="description_en" rows="3"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">קצת על עסק בעברית</label>
                <textarea class="form-control" formControlName="description_he" rows="3"></textarea>
            </div>

        </div>

        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">בחר לוגו</label>
                <input class="wide-input" name="logo" (change)="onFileChange($event, 'logo')" type="file" accept="image/*">
            </div>

            <div class="form-group col-md-6">
                <img [src]="logo.path" *ngIf="logo.path">
            </div>

        </div>

        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">בחר וידאו</label>
                <input class="wide-input" name="main_video" (change)="onFileChange($event, 'main_video')" type="file" accept="video/*">
            </div>

            <div class="form-group col-md-6">
                <video [src]="main_video.path" controls *ngIf="main_video.path"></video>
            </div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







