<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info" (click)="openCreateModal(addItem)">טט קטגוריה חדשה</button>
    </div>
    <div class="col-md-10">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="שם בעברית">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong *ngIf="!editMode || editRow.id !== row.id">{{row.title_he}}</strong>
            <input  *ngIf="editMode && editRow.id === row.id" type="text" [(ngModel)]="fieldsToEdit.title_he">
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="שם באנגלית">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong *ngIf="!editMode || editRow.id !== row.id">{{row.title_en}}</strong>
            <input *ngIf="editMode && editRow.id === row.id" type="text" [(ngModel)]="fieldsToEdit.title_en">
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" *ngIf="!editMode || editRow.id !== row.id" [disabled]="editMode" class="btn btn-warning" (click)="switchToEditMode(row)">ערוך</button>
            <button type="button" *ngIf="!editMode || editRow.id !== row.id" [disabled]="editMode" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
            <button type="button" *ngIf="editMode && editRow.id === row.id" class="btn btn-info" (click)="editItem(row)">שמור</button>
            <button type="button" *ngIf="editMode && editRow.id === row.id" class="btn btn-danger" (click)="cancelEdit()">בטל</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק טט קטגוריה</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את הטט קטגוריה הזאת? אתה גם תמחק את כל העסקים שקיימים בטט קטגוריה הזאת</div>
        <!--Are you sure that you want to delete this subcategory? It will also delete all companies, that exist in this subcategory.-->

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #addItem let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">טט קטגוריה חדשה</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" novalidate [formGroup]="form">
            <div class="form-group">
                <input class="form-control" type="text" formControlName="title_he" placeholder="שם בעברית">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="title_en" placeholder="שם באנגלית">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-info" type="submit" [disabled]="form.invalid" (click)="createItem()">שמור</button>
    </div>
</ng-template>