<div class="alert alert-success" role="alert" *ngIf="sent">נשלח בהצלחה!</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-success" (click)="openSendPushModal(sendPushModal, null)">שלח פוש למשתמשים מחוברים</button>
    </div>
    <div class="col-md-9">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter..." required (keyup)='updateFilter($event)'>
    </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="שם">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.name}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="אימייל">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.email}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="טלפון" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.phone}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="נקודות" [maxWidth]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.points}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="שפה" [maxWidth]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.language === 'he'"><img src="assets/images/he.png" width="20"></div>
            <div *ngIf="row.language === 'en'"><img src="assets/images/en.png" width="20"></div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false" [minWidth]="300">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-success" (click)="openSendPushModal(sendPushModal, row)">שלח פוש</button>
            <button type="button" class="btn btn-info" (click)="openSendPointsModal(sendPointsModal, row)">שלח נקודות</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק משתמש</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את המשתמש? כל הביקורות שלו, דירוגים והערות גם ימחקו.</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #sendPointsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">שלח נקודות</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input class="form-control" type="number" [(ngModel)]="quantity" placeholder="כמות נקודות">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="sendPoints()">שלח</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #sendPushModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">שלח פוש</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="push" placeholder="טקסט">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="sendPush()" [disabled]="push === ''">שלח</button>
    </div>
</ng-template>