<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info" [routerLink]="['/faq/create']">כתבה חדשה</button>
    </div>
    <div class="col-md-10">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="שאלה" maxWidth="300">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.question}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="תשובה">
        <ng-template let-row="row" ngx-datatable-cell-template dir="rtl" align="right">
            <div dir="rtl" align="right" [innerHTML]="row.answer"></div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false" maxWidth="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-warning" [routerLink]="['/faq/edit', row.id]">ערוך</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק כתבה</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את הכתבה הזאת?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>