<div class="row">
    <div class="col-md-12">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the name or email columns..." required (keyup)='updateFilter($event)'>
    </div>
</div>

<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="שם הקופון">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.coupon.title}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="משתמש שקנה">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div >{{row.user.name}}</div>
            <div>{{row.user.email}}</div>
            <div>{{row.user.phone}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="תוקף">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.expiration_date}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="משומש" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.used"><i class="icon icon-arrows-circle-check"></i></div>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
