<div class="main-div">

    <div class="alert alert-success" role="alert" *ngIf="saved">נשמר בהצלחה!</div>

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">מספר טלפון כדי לקבל הזמנות וליצור קשר עם עסקים</label>
                <input class="form-control" formControlName="phone" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">אימייל כדי לקבל התראות</label>
                <input class="form-control" formControlName="email" type="text">
            </div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </form>

</div>







